{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teammanager/style.css' %}?{% now 'U' %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Sports Club Manager Your Clubs{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    <!--{% if user.is_authenticated%}
    <div class="nav">
        <ul>
        <li>
            <a href="{% url 'userclubs' %}"> My Clubs </a>
            <a href="{% url 'clubshome' %}"> All Clubs </a>
            <a href="{% url 'logout' %}"> Logout </a>
        </li>
        </ul>
    </nav>
    </div>
    -->
    <div class="teams">
        <ul>
            {% for club in user_clubs %}
                <!--<li>{{club.club_name}}</li>-->
                <li><a href="{% url 'clubdetails' club.id %}"> {{ club.club_name }} </a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endblock %}
  </main>
</body>
</html>